a{
    text-decoration: none;
    color: white;
    margin: 3px;
}

a:hover,a:active{
    color:lightgray;
}

mat-toolbar{
    padding-left: 0;
}

.navigation-items{
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-captions{
    display: inline;
    padding-left: 6px;
}